.height {
  height: 1200px;
  display:block;
}


@media (max-width:767px) {
  .fixed-body{
     padding-top:70px;
  }
}
@media (min-width:768px) {
  
    .navbar-fixed-top {
        position: relative;
        top: 0;
    }
    body {
      padding-top:0;
    }
}