body {
  font-family: Arial;
  color: white;
  margin:0;
  padding:0;
}
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}
.wrapper > * {
  padding: 15px;
  flex: 1 100%;
}
.header {
  background: red;
}
.footer {
  background: green;
}
.main {
  text-align: left;
  background: blue;
  color: white;
}
.aside-1 {
  background: gold;
  color: black;
}
.aside-2 {
  background: hotpink;
}
@media all and (min-width: 768px) {
  .aside {
    flex: 1 auto;
  }
}
@media all and (min-width: 992px) {
  .main {
    flex: 3 0px;
  }
  .aside-1 {
    order: 1;
  }
  .main {
    order: 2;
  }
  .aside-2 {
    order: 3;
  }
  .footer {
    order: 4;
  }
}